#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_Nanotecd += debian/examples/*
DEB_INSTALL_MANPAGES_Nanotecd += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix Nanotecd USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f Nanotec-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake Nanotec-qt.pro USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/Nanotecd:
	chmod +x $(cdbs_curdestdir)usr/bin/Nanotecd
binary-post-install/Nanotec-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/Nanotec-qt
